
<div class="content-fullscreen-message" *ngIf="movies && movies.length == 0">
  An error has occurred, no movies were found
</div>

<ion-grid>
  <ion-row *ngIf="!loader && movies?.length > 1">
    <ion-col size="4" size-md="3" size-lg="2" size-xl="1" *ngFor="let movie of movies; let i = index" (click)="onMovieDetail(movie.id)">
      <img-loader class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" useImg></img-loader>
    </ion-col>
    <ion-col>
      <div>
        <h3 (click)="onNextPage()">Load More</h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="loader">
    <ion-col size="4" size-md="3" size-lg="2" size-xl="1" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
      <div>
        <ion-skeleton-text animated style="width: 100%; height: 120px"></ion-skeleton-text>
        <!-- <ion-skeleton-text animated style="width: 60px;height: 14px"></ion-skeleton-text> -->
      </div>
    </ion-col>
  </ion-row>
</ion-grid>