<form class="form" [formGroup]="register_form"  (ngSubmit)="loginUser(register_form.value)">
  <br />
  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Email</ion-label>
    <ion-input type="text" placeholder="test@example.com" formControlName="email"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="register_form.get('email').hasError(validation.type) && (register_form.get('email').dirty || register_form.get('email').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Password</ion-label>
    <ion-input type="password" placeholder="************" formControlName="password" required></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div class="error-message" *ngIf="register_form.get('password').hasError(validation.type) && (register_form.get('password').dirty || register_form.get('password').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>
  <br />
  <ion-row>
    <ion-col size="9">
      <ion-button align="left" mode="ios" color="dark" fill="outline" expand="block" type="submit" [disabled]="!register_form.valid">
        <span>Sign In</span>
        <i slot="end" class="material-icons">
          arrow_forward
        </i>
      </ion-button>
    </ion-col>
  </ion-row>
</form>
