<ion-header no-border class="b-b">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark">Save</ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-item lines="none">
      <ion-label>
        <h2 color="dark" class="fs-22">My Profile</h2>
        <p class="fs-14"class="ion-text-wrap">edit you profile information</p>
      </ion-label>
    </ion-item>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <profile-info></profile-info>
  <br />
  <h6 class="fs-14 text-muted" align="center">Powered By Kreador Technologies</h6>
  <br />
</ion-content>
