<ion-header no-border>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="hidden-md">
    <movies-scroll [type]="'now_playing'" [slideCount]="1.5"></movies-scroll>
    <h2 class="fs-16">Upcoming Movies & Tv Shows</h2>
    <movies-scroll [type]="'upcoming'"></movies-scroll>
    <br/>
    <movies-scroll [type]="'on_the_air'" [collection]="'series'"></movies-scroll>

    <h2 class="fs-16">Popular Movies & Tv Shows</h2>
    <movies-scroll [type]="'popular'"></movies-scroll>
    <br/>
    <movies-scroll [type]="'popular'" [collection]="'series'"></movies-scroll>

    <h2 class="fs-16">Top Rated Movies & Tv Shows</h2>
    <movies-scroll [type]="'top_rated'"></movies-scroll>
    <br/>
    <movies-scroll [type]="'top_rated'" [collection]="'series'"></movies-scroll>
  </div>
  <div class="hidden-xs">
    <movies-scroll [type]="'now_playing'" [slideCount]="6"></movies-scroll>
    <h2 class="fs-16">Upcoming Movies & Tv Shows</h2>
    <movies-boxes [type]="'upcoming'"></movies-boxes>
    <br/>
    <movies-boxes [type]="'on_the_air'" [collection]="'series'"></movies-boxes>

    <h2 class="fs-16">Popular Movies & Tv Shows</h2>
    <movies-boxes [type]="'popular'"></movies-boxes>
    <br/>
    <movies-boxes [type]="'popular'" [collection]="'series'"></movies-boxes>

    <h2 class="fs-16">Top Rated Movies & Tv Shows</h2>
    <movies-boxes [type]="'top_rated'"></movies-boxes>
    <br/>
    <movies-boxes [type]="'top_rated'" [collection]="'series'"></movies-boxes>
  </div>

</ion-content>