<form class="form" [formGroup]="register_form"  (ngSubmit)="register(register_form.value)">
  <br />
  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Username</ion-label>
    <ion-input type="text" placeholder="John Doe" formControlName="displayName"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.displayName">
      <div class="error-message" *ngIf="register_form.get('displayName').hasError(validation.type) && (register_form.get('displayName').dirty || register_form.get('displayName').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Email</ion-label>
    <ion-input type="text" placeholder="test@example.com" formControlName="email"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="register_form.get('email').hasError(validation.type) && (register_form.get('email').dirty || register_form.get('email').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Password</ion-label>
    <ion-input type="password" placeholder="**********" formControlName="password"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div class="error-message" *ngIf="register_form.get('password').hasError(validation.type) && (register_form.get('password').dirty || register_form.get('password').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item class="password" lines="none" *ngIf="!register_form.controls.password.invalid">
    <ion-label  position="stacked" color="dark">Retype Password</ion-label>
    <ion-input (ionChange)="checkPassword()" placeholder="**********" type="password" placeholder="Confirm your password"
      formControlName="rpassword"></ion-input>
  </ion-item>
  <div *ngIf="!passwordMatch && !register_form.controls.password.invalid" class="validation-errors">
    <p>Password is mismatch</p>
  </div>
  <br />
  <ion-row>
    <ion-col size="10">
      <ion-button align="left" color="dark" fill="outline" expand="block" mode="ios" type="submit" [disabled]="!register_form.valid">
        <span>Create Account</span>
        <i slot="end" class="material-icons">
          arrow_forward
        </i>
      </ion-button>
    </ion-col>
  </ion-row>
</form>
